* {
  margin: 0;
  padding: 0;
}

.container {
  width: 700px;
  margin: 0 auto;
}

body {
  color: #444;
  font-family: sans-serif;
  border-top: 5px solid #1098ad;
  position: relative;
}

.page-header {
  background-color: #e3e3e3;
  padding: 20px;
  margin-bottom: 60px;
  height: 80px;
}

.author-img {
  border-radius: 50%;
}

#author {
  font-style: italic;
  font-size: 15px;
}

.post-image {
  width: 100%;
}

.headings {
  color: #1098ad;
}

#copyright {
  font-size: 14px;
  text-align: center;
}

.author {
  font-size: 18px;
  font-weight: bold;
}

.post-header {
  margin-bottom: 30px;
  position: relative;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

.related {
  list-style: none;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  color: #1098ad;
  font-style: italic;
  margin: 0%;
}

.aside {
  background-color: #e3e3e3;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  margin: 20px;
  padding: 50px 0;
  width: 500px;
}

a:link,
a:visited {
  color: #1098ad;
  text-decoration: none;
}

a:hover {
  color: rgb(146, 146, 195);
  text-decoration: underline;
}

a:active {
  color: black;
  font-style: italic;
}

.page-header h1,
nav {
  padding: 10px;
  text-align: center;
}

li {
  margin-bottom: 10px;
}

nav a {
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
}

nav a:last-child {
  margin: 0;
}

aside h4 {
  text-align: center;
}

li:last-child {
  margin: 0;
}

.footer-like {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;

  position: absolute;
  bottom: 50px;
  right: 50px;
}

.header-like {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;

  position: absolute;
  bottom: 50px;
  right: 50px;
}

h1::first-letter {
  font-style: normal;
  padding: 10px;
}

p + h6::first-line {
  color: red;
}

h2 {
  background-color: orange;
  position: relative;
}

h2::after {
  content: "DEMO";
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  background-color: yellow;
  padding: 5px 10px;
  position: absolute;
  /* right: -25px;
  top: -10px; */
  top: 0;
  left: 0;
}
